@import "tailwindcss";
body {
  background-color: #eaeaea;
}
#root {
  background-color: #eaeaea;
  height: 100%;
  width: 100%;
}
.div {
  margin: auto;
  background-color: #eaeaea;
}
.bar {
  position: fixed;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  top: 0;
  gap: 30px;
  background-color: #1f0016;
  width: 380px;
  height: 100%;
  z-index: 2;

  font-size: 10px;

  background: transparent;
  backdrop-filter: blur(10px);
  transition: 5s ease-out;
}
@media (max-width: 667px) {
  .bar {
    margin-left: 120px;
  }
}
@media (max-width: 932px) {
  .bar {
    width: 300px;
  }
}
.nav {
  background-color: #fff;
}
.peras {
  font-size: 20px;
}
.peras:hover {
  font-size: 20px;
  width: 100%;
  padding: 1rem;
  background-color: #0061ff;
  text-align: center;
  color: #fff;
}
.pera {
  font-size: 12px;
}
.peras1 {
  font-size: 0.7rem;
}
.box {
  background-color: #e3ffcc;
}
.box2 {
  background-color: #11282b;
}
.box3 {
  background-color: #142f32;
}
.mini-box {
  width: 150px;
  height: 15px;
  background-color: #eaeaea;
  border-radius: 5px;
}
.mini-boxes {
  width: 100%;
  height: 15px;
  background-color: #eaeaea;
  border-radius: 5px;
}
.mini-box2 {
  background-color: #142f32;
  border-radius: 2px;
}
.fixed {
  position: absolute;
  z-index: 2;
  margin-left: 150px;
  margin-top: 180px;
}
.color {
  background-color: #282930;
}
